body, html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

input, label {
  margin:10px;
}

#books {
  flex-direction: column-reverse;
  
}

#book-submissions {
 background: linear-gradient(-8deg,#66267b,#0e3754 45%,#376789 75%,#049474);
  border-radius: 15px;
  padding: 1rem;
  visibility: hidden;
  
}

.btn-info {
  background-color: #0e3754;
}
btn-info:hover{
  background-color: #376789;
}
.page-header {
  background: linear-gradient(-8deg,#66267b,#0e3754 45%,#376789 75%,#049474);
  height: 100vh;
  width: 100%;
}

#myBooksContent {
  margin-bottom: 5rem;
}

#form-div {
    background-color: #049474;
    padding: 3rem;
    border-radius: 10px;
    color: white;
}