body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

#books {
  flex-direction: column-reverse;
}

#book-subissions {
 background: linear-gradient(-8deg,#66267b,#0e3754 45%,#376789 75%,#049474);
  border-radius: 15px;
  padding: 1rem;
}

.btn-info {
  background-color: #376789;
}
btn-info:hover{
  background-color: #049474;
}
.page-header {
  /*background: url('img/typewriter.jpeg') no-repeat fixed center;*/
  /*background: rgb(36, 104, 201);
  background: linear-gradient(
    90deg,
    rgba(36, 104, 201, 1) 0%,
    rgba(15, 10, 82, 1) 100%,
    rgba(8, 105, 114, 1) 100%
  );*/
  background: linear-gradient(-8deg,#66267b,#0e3754 45%,#376789 75%,#049474);
  height: 100vh;
  width: 100%;
}
